#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background: linear-gradient(150deg,rgb(100,125,230),rgb(108,88,237),rgb(119,56,244));
  color: white;
  padding: 0;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 390px;
  min-height: 110vh;
  width: 100%;
}

